/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the game board */
.game-board {
    width: 100%; /* Full width */
    height: 500px; /* Fixed height */
    border-bottom: 15px solid rgb(35, 160, 35); /* Green border bottom */
    margin: 0 auto; /* Center horizontally */
    position: relative; /* Positioning context for absolute positioning */
    overflow: hidden; /* Hide overflow content */
    background: linear-gradient(#87CEEB, #E0F6FF); /* Gradient background */
}

/* Styles for the pipe */
.pipe {
    position: absolute; /* Position relative to the game board */
    bottom: 0; /* Stick to the bottom */
    width: 80px; /* Fixed width */
    animation: pipe-animation 1.5s infinite linear; /* Apply pipe animation */
}

/* Styles for Mario */
.mario {
    width: 150px; /* Fixed width */
    position: absolute; /* Position relative to the game board */
    bottom: 0; /* Stick to the bottom */
}

/* Animation for Mario's jump */
.jump {
    animation: jump 500ms ease-out; /* Apply jump animation */
}

/* Styles for clouds */
.clouds {
    position: absolute; /* Position relative to the game board */
    width: 550px; /* Fixed width */
    animation: clouds-animation 20s infinite linear; /* Apply clouds animation */
}

/* Pipe animation keyframes */
@keyframes pipe-animation {
    from {
        right: -80px; /* Start position */
    }
    to {
        right: 100%; /* End position */
    }
}

/* Jump animation keyframes */
@keyframes jump {
    0% {
        bottom: 0; /* Initial position */
    }
    40% {
        bottom: 180px; /* Jump peak */
    }
    50% {
        bottom: 180px; /* Jump peak */
    }
    60% {
        bottom: 180px; /* Jump peak */
    }
    100% {
        bottom: 0; /* Return to initial position */
    }
}

/* Clouds animation keyframes */
@keyframes clouds-animation {
    from {
        right: -550px; /* Start position */
    }
    to {
        right: 100%; /* End position */
    }
}

 /* Hide the restart button by default */
 #restartButton {
    display: none;
}


    /* end page game */



/* Styles for the body */
#Mario {
    font-family: Arial, sans-serif; /* Set font family */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    color: white; /* Text color */
    background-image: url('../Images/Back.jpg'); /* Background image */
    background-size: cover; /* Cover background */
    background-position: center center; /* Center background */
    background-repeat: no-repeat; /* No repeat background */
}    

/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the header */
.header {
    text-align: center; /* Center align text */
    margin-top: 20px; /* Top margin */
    color: white; /* Text color */
}

/* Styles for the form */
.form {
    max-width: 500px; /* Maximum width */
    margin: 0 auto; /* Center horizontally */
    color: white; /* Text color */
}

/* Styles for labels */
label {
    display: block; /* Block display */
    margin-top: 10px; /* Top margin */
}

/* Styles for form inputs */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select,
button {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    margin-top: 5px; /* Top margin */
    margin-bottom: 10px; /* Bottom margin */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Border radius */
}

/* Styles for radio buttons */
input[type="radio"] {
    margin-top: 10px; /* Top margin */
    margin-bottom: 10px; /* Bottom margin */
}

/* Styles for buttons */
button {
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    padding: 15px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Cursor pointer */
    font-size: 16px; /* Font size */
}

/* Hover styles for buttons */
button:hover {
    background-color: #45a049; /* Background color on hover */
}

/* Styles for the image container */
.imagem-container2 {
    text-align: center; /* Center align text */
    margin-top: 20px; /* Top margin */
}

/* Styles for images */
.imgs3 img {
    width: 100px; /* Width */
    height: auto; /* Auto height */
}

/* Styles for the thank you message */
.thank-you-message {
    display: none; /* Initially hidden */
    text-align: down; /* Text alignment */
    color: red; /* Text color */
    margin-top: 20px; /* Top margin */
}



    /* end page contact */



    #body {
        color: white; /* Text color */
        font-family: 'Roboto', sans-serif; /* Font family */
        max-width: 1200px; /* Maximum width */
        margin: 0 auto; /* Center horizontally */
        padding: 15px; /* Padding */
        height: 1200px; /* Height */
        width: 100%; /* Full width */
        background-image: url("../Images/Back.jpg"); /* Background image */
        background-size: cover; /* Cover background */
        background-position: center; /* Center background */
    }
    
    header {
        display: flex; /* Use flexbox */
        flex-direction: row; /* Horizontal direction */
        justify-content: space-between; /* Space between items */
        align-items: center; /* Center align items vertically */
    }
    
    .title {
        flex-direction: column; /* Column direction */
        line-height: 5%; /* Line height */
    }
    
    #Title {
        display: flex; /* Use flexbox */
        align-items: center; /* Center align items vertically */
    }
    
    #Title img {
        width: 50px; /* Logo width */
        height: auto; /* Maintain aspect ratio */
        margin-right: 10px; /* Margin right for spacing */
    }
    
    li {
        display: inline-block; /* Display inline-block */
        margin: 20px; /* Margin */
    }
    
    a {
        color: white; /* Text color */
    }
    
    a:hover {
        color: #4680ad; /* Hover text color */
        transition: 0.3s all; /* Transition effect */
    }
    
    #contact-us-btn {
        border: 2px solid white; /* Border */
        padding: 10px; /* Padding */
        border-radius: 15px; /* Border radius */
    }
    
    #contact-us-btn:hover {
        background-color: #041c2f; /* Background color on hover */
        color: white; /* Text color on hover */
    }
       
    /* Center align Ordered List */
    ol {
        text-align: center;
        margin-top: 20px; /* Adjust as necessary */
    }

        /* Center align Title */
        #Title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        /* Center align Navigation */
        nav {
            text-align: center;
        }


 
   /* end navigation part*/ 